@import '../../sass/abstracts/variables';
@import '../../sass/abstracts/mixin';

.navbar {
  @include content-alignment(flex, initial, initial, center);
  padding: 3rem 4rem;
  background: white;
  box-shadow: 0.5rem 0.3rem 1rem #a0a0a0;

  &__links {
    margin-left: auto;
  }
  &__items {
    font-size: 1.5rem;
    margin-right: 2rem;
    color: black;
  }

  &__icon {
    font-size: 3.5rem;
    margin-right: 1rem;
  }

  &__home-icon {
    font-size: 2rem;
    margin-right: 1rem;
    color: black;
  }
}
