@import '../../sass/abstracts/variables';
@import '../../sass/abstracts/mixin';

.login-card {
  margin-top: 13rem;

  &__form {
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 3rem;
    box-shadow: 0.1rem 0.1rem 1rem $bluish-shade;
  }

  &__label {
    @include font-styling(2rem, 1rem, $dark-grey-2, $roboto-regular);
    margin-bottom: 2rem;
  }

  &__input {
    width: 38rem;
    border: none;
    margin-bottom: 2rem;
    box-shadow: 0.1rem 0.1rem 1rem $bluish-shade;
    padding: 0.5rem;
    outline: none;
  }

  &__button {
    width: fit-content;
    padding: 0.5rem 3rem;
    border: 0.2rem solid $dark-grey-2;
    background: $white;
    color: $dark-grey;
    cursor: pointer;

    &:hover {
      background: $dark-grey-2;
      color: $white;
    }
  }
}
