@import '../../sass/abstracts/variables';
@import '../../sass/abstracts/mixin';

.login-card {
  margin: 13rem auto 2rem;

  &__form {
    @include content-alignment(flex, column, initial, center);
    padding: 5rem;
    background: $white;
    border-radius: 1.5rem;
    box-shadow: 0.1rem 0.1rem 1rem $grey;
  }

  &__label {
    @include font-styling(2rem, 1rem, $black, $roboto-regular);
    margin-bottom: 4rem;
  }

  &__input {
    width: 38rem;
    margin-bottom: 4rem;
    border: 1px solid $light-grey;
    outline: none;
    padding: 1.3rem;
    border-radius: 1rem;
  }

  &__button {
    padding: 1rem 4rem;
  }
}
